<!DOCTYPE html>
<html>
    <head>
        <title>Priceoye</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/style.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
        <div id="wrap">
            <div id="cw">
                <div id="hd">
                    <h1 id="logo"><a href="index.html"/>priceoye</a></h1>
                    <div class="links"><a href="#">Home</a><a href="#">My Account</a></div>
                    <div id="welcome">Welcome visitor you can <a href="#">login</a> or <a href="#">create an account</a>.</div>
                    <div id="search">    
                        <div class="button-search"><input type="submit" value="" style="background:transparent;opacity:0;width:34px;height:34px"></div>
                        <div class="button-category">
                        <select name="searchCategory" id="searchCategory">
                        <option value="0" selected="selected">All Categories</option>
                        <option value="35">Laptops &amp; Accessories</option>
                        <option value="88">Bags, Wallets &amp; Belts</option>
                        <option value="89">Watches</option>
                        <option value="90">Cameras &amp; Accessories</option>
                        <option value="91">Mobiles</option>
                        <option value="93">Home &amp; Kitchen</option>
                        <option value="95">Beauty and Personal Care</option>
                        <option value="96">Toys &amp; Games</option>
                        </select>					</div>
                        <div class="search-input">
                            <input type="text" onclick="this.select()" required="" value="" id="filter_name" name="search">
                        </div>
                    </div>
                        <div id="menu">
                             <ul>
                                <li class="home"><a title="Home" href="index.html"><span>Home</span></a></li>
                                <li><a href="#">Mobile</a>
                                     <div>
                                        <ul>
                                            <li><a href="#">Nokia (338)</a></li>
                                            <li><a href="#">Samsung (100)</a></li>
                                        </ul>
                                      </div>
                                  </li>
                                <li><a href="#">Tablet</a></li>
                              </ul>
                        </div>
                </div>
            </div>
            
        </div>
        <div id="ftr">
        <div class="fc">
              <div class="column">
                  <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Sitemap</a></li>                     
                   </ul>
              </div> 
              
             <div id="powered"> 
                   <div class="followus">follow us on | 
                                <div class="social">
                                  <a title="facebook" href="#"><img alt="facebook" src="image/fb.png"/></a>
                                  <a title="twitter" href="#"><img alt="twitter" src="image/twitter.png"/></a>     
                                  <a title="pinterest" href="#"><img alt="pinterest" src="image/pinterest.png"/></a>  
                                  <a title="linkedin" href="#"><img alt="linkedin" src="image/linkedin.png"/></a>
                                  <a title="gplus" href="#"><img alt="g_plus" src="image/g_plus.png"/></a>
                                  <a title="youtube" href="#"><img alt="youtube" src="image/youtube.png"/></a>
                               </div>  
                 </div>
                 <span>Copyright &copy; 2013 by priceoye.com &nbsp;|&nbsp;All Rights Reserved.</span>
             </div>
           </div>
        </div>
    </body>
</html>
